@import url('reset.css');

html {
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    font-family: "Lexend Deca", sans-serif, "Noto Sans TC", sans-serif;
    letter-spacing: 1px;
    color: #292929;
}

.wrapper {
    overflow: hidden;
    /* margin: 0 auto; */
}

/* -----banner start----- */
.banner_container {
    position: relative;
}

.banner_container>img {
    width: 100%;
    /* max-width: 1440px; */
}

.joinus img {
    max-width: 16%;

    position: absolute;

    top: -30%;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;

    animation: heart 3s infinite;
    cursor: pointer;
}

@keyframes heart {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

/* -----banner end----- */

/* -----about this plan start----- */
.about {
    margin-top: 80px;
}

.shine {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.shine h1 {
    color: #BDA074;
    font-size: 2.25rem;
    /*36px*/
    line-height: 55px;
}

.phone_shine {
    display: none;
}

.about,
.actions {
    /* border: 2px solid sandybrown; */
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;


    margin-top: 80px;
    overflow-x: hidden;

}

.about_text,
.actions_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 30px;
}

.about_text p,
.actions p {
    /* border: 2px solid teal; */
    text-align: justify;
    font-size: 1.25rem;
    line-height: 50px;
    margin-top: 28px;
    max-width: 90%;
}

.about>img {
    /* border: 2px solid teal; */
    max-width: 320px;
    margin-right: 40px;
}

.actions>img {
    /* border: 2px solid teal; */
    max-width: 360px;
    margin-left: 60px;
}

/* ----- js進場動畫 -----*/

.about_text p,
.actions>img {
    opacity: 0;
    transform: translateX(-80px);
    transition: 0.5s ease-in-out;
}

.about_text p.visible,
.actions>img.visible {
    opacity: 1;
    transform: translateX(0);
}

.actions p,
.about>img {
    opacity: 0;
    transform: translateX(80px);
    transition: 0.5s ease-in-out;
}

.actions p.visible,
.about>img.visible {
    opacity: 1;
    transform: translateX(0);
}

/* -----about this plan end----- */

/* -----受益人數 start----- */

.people_wrapper {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 80px auto;
}

.container {
    width: 180px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    border-radius: 10px;
    border: 2px solid #BDA074;
    background: #FEFBF6;
    border-bottom: 10px solid #BDA074;
}

.fa-hand-holding-heart,
.fa-thumbs-up,
.fa-handshake-angle {
    color: #BDA074;
    font-size: 3.5rem;
    text-align: center;
}

span.num {
    color: #CA7C61;
    display: grid;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin: 10px 0;
}

span.text {
    text-align: center;
}

/* -----受益人數 end----- */

/* -----How to Support start----- */

.support_container h1 {
    font-size: 2.25rem;
    color: #BDA074;
    text-align: center;
}

.support {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.support_icon img {
    max-width: 240px;
}

.support_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.support span {
    font-size: 20px;
}

/* -----How to Support end----- */

/* -----方案選擇開始------  */
/* -----方案A----- */

.plan_container {
    /* border: 2px solid indianred; */
    /* max-width: 1122px; */
    max-width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}

.plan h3 {
    font-size: 2.25rem;
    color: #CA7C61;
    padding-left: 40px;
}

.plan p {
    line-height: 40px;
    font-size: 1.25rem;
    margin: 40px 40px 0;
    text-align: justify;
}

.red-text {
    color: #CA7C61;
}

.plan_item {
    /* border: 2px solid indianred; */
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    border-bottom: 1.5px solid #BDA074;
    padding-bottom: 60px;
}

.pc {
    gap: 40px;
}

.plan_item .box {
    max-width: 300px;
}

.plan_item_text {
    /* border: 2px solid indianred; */
}

.plan_item_text p {
    border: 2px solid #BDA074;
    border-radius: 40px;
    background: #FEFBF6;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 60px;
}

/* ----------按鈕---------- */
.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;

}

.quantity,
.planc_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    /* border: 1px solid #FFE2D4; */
    border-radius: 50px;
    background-color: #ffe2d45d;
    text-align: center;
}

.quantity button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.quantity input[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0px;

    border: 1px solid #FFE2D4;
    border-radius: 50%;
    background-color: #ffe2d4b1;
    font-size: 1.5rem;
    color: #CA7C61;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.quantity input[type="text"] {
    border: 1.5px solid #BDA074;
    color: #292929;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.12rem;
    width: 80px;
    height: 35.3px;
}

.counter {
    margin: 0 20px;
    font-size: 1.2rem;
}

.quantity input[type="button"]:hover {
    background-color: #CA7C61;
    color: white;
}

.purchase {
    margin-left: 40px;
}

.purchase input[type="button"] {
    width: 120px;
    height: 40px;
    background-color: #FEFBF6;
    color: #BDA074;
    border: 1px solid #BDA074;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-family: "Noto Sans TC";
    font-weight: 500;
}

.purchase input[type="button"]:hover {
    text-align: center;
    background-color: #CA7C61;
    color: #FFE2D4;
    border: none;

}


/* -----方案B----- */

.baga,
.bagb {
    /* border: 1.5px solid #BDA074; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baga img,
.bagb img {
    max-width: 360px;
    border-radius: 150px;
    margin-bottom: 24px;
    display: flex;

    transition: transform 0.3s ease;
}

.baga img:hover,
.bagb img:hover {
    transform: scale(1.1)
}

/* -----方案C----- */

.mark_container {
    /* border: 1.5px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 60px;
    /* margin-bottom: 80px; */

}

.marka,
.markb {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.marka img,
.markb img {
    max-width: 360px;
    border-radius: 40px;
}

.marka_detail,
.markb_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.marka_detail img,
.markb_detail img {
    margin-bottom: 30px;
}

.body-svg {
    max-width: 200px;
}

label {
    cursor: pointer;
}

/* -----方案選擇結束------  */

/* -----方案JS------  */

#planshine {
    opacity: 0;
    transition: .8s;
    transform: perspective(2500px) rotateX(-80deg);
}

#planshine.visible {
    opacity: 1;
    transform: perspective(2500px) rotateX(0deg);
}

.plan {
    opacity: 0;
    transition: 1s .2s;
    transform:translateY(-100px)
}

.plan.visible {
    opacity: 1;
    transform:translateY(0px)
}

/* -----charity slogan start----- */
.slogan {
    background-image: url('../img/charity slogan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
    padding: 70px;
}

.slogan p {
    text-align: center;
    line-height: 2;
    color: #CA7C61;
    font-weight: 500;
}


/* -----charity slogan end----- */

@media screen and (max-width: 870px) {
    .about {
        flex-direction: column;
    }

    .actions {
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .about>img {
        margin-right: 0px;
    }

    .actions>img {
        margin-left: 0px;
    }

    .about_text p,
    .actions p,
    .plan p,
    .support span {
        font-size: 18px;
        max-width: 100%;
    }

    .support {
        flex-direction: column;
    }

    .plan_item,
    .mark_container {
        flex-direction: column;
    }

    .plan h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 650px) {

    .plan h3 {
        font-size: 28px;
    }

    .people_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (max-width: 550px) {
    .shine {
        gap: 10px;
    }

    .shine h1,
    .support_container h1 {
        font-size: 30px;
    }

    .about>img {
        max-width: 290px;
    }

    .actions>img {
        max-width: 320px;
    }


    .plan_container,
    .about {
        margin-top: 60px;
    }

    .plan h3 {
        font-size: 26px;
        line-height: 1.4;

    }

    .plan_item .box {
        max-width: 250px;
    }

    .about_text p,
    .actions p,
    .plan p,
    .support span {
        font-size: 16px;
    }

    .baga img,
    .bagb img {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 450px) {
    .web_shine {
        display: none;
    }

    .phone_shine {
        display: block;
    }
}