@import url('reset.css');

html {
    font-size: 1rem;
    /* 16px */
}

body {

    font-family: "Lexend Deca", sans-serif, "Noto Sans TC", sans-serif;
    letter-spacing: 1px;
    color: #292929;
}


/* -----banner start----- */

.banner img {
    max-width: 100%;
    position: relative;
    object-fit: cover;
}

.banner_text {
    /* border: 1px solid firebrick; */
    font-family: "Lora", serif;
    color: #003B31;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 20vw;
    left: 8px;
    right: 0px;
    bottom: 0px;
}

.banner_text h1 {
    font-size: 6vw;
    letter-spacing: 6px;
    margin-bottom: 8vw;

    animation: lazydessert 1.5s linear;
}

@keyframes lazydessert {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.banner_text p {

    font-size: 2.5vw;
    letter-spacing: 2px;
    line-height: 1.4;
    animation: bannertext 1s 1s ease-out forwards;
    opacity: 0;
}

@keyframes bannertext {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    80% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* -----banner end----- */

/* --------welcome start--------- */
/*最外圍包著lazy介紹的div*/
.welcome {
    display: flex;
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    justify-content: center;
    align-self: center;
    margin-top: 90px;
    margin-bottom: 80px;
}

/*磅蛋糕下午茶圖*/

.below img {
    /* border: 2px solid red; */
    display: block;
    max-width: 100%;
}

.welcometext {
    padding-left: 60px;
    /* border: 2px solid red; */
}


.welcometext h1 {
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: 50px;
    color: #BDA074;
    font-family: "Meddon"
}

.welcometext p {
    font-size: 1.25rem;
    line-height: 50px;
    text-align: left;

    margin-bottom: 40px;
}

.welcometext input[type="button"] {
    font-family: "Lexend Deca";
    width: 153px;
    height: 46px;
    font-size: 1.25rem;
    line-height: 24px;
    border: 1.5px solid #BDA074;
    background-color: #FEFBF6;
    color: #BDA074;
    border-radius: 20px;
    cursor: pointer;
    /* 改變游標 */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.welcometext input[type="button"]:hover {
    background-color: #CA7C61;
    color: #FFE2D4;
    border: 0;
}

/* --------welcome end--------- */

/* -----旋轉圈圈start----- */

.rotate {
    /* border: 2px solid red; */
    text-align: right;
    margin-top: -170px;
    margin-bottom: 40px;
    padding-right: 80px;
}

.rotate img {
    max-width: 180px;
    animation: yummy 8s linear infinite;
}

@keyframes yummy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* -----旋轉圈圈end----- */
/* --------Popular Products start-------- */
.shine {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.shine h1 {
    color: #BDA074;
    font-size: 2.25rem;
    line-height: 55px;
}

.popular {
    background-color: #CA7C61;
   padding: 40px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular h2 {
    font-size: 1.25rem;
    line-height: 35px;
    color: #FEFBF6;
    text-align: center;
    margin-bottom: 40px;
}

.chevron-container {
    /* border: 1px solid darkblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.popular .chevron-container .fa-solid {
    background-color: #FEFBF6;
    color: #BDA074;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}


.popular .chevron-container a {
    text-decoration: none;
}

.popular ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* flex-grow: 1; */
}

.popular li {
    position: relative;
    text-align: center;
    margin: 0 30px;
}

.popular #madeleine_item::after,
.popular #canele_item::after
{
    content: '';
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 300px;
    background-color: #FEFBF6;
}

.popular #poundcake_item::after {
    display: none;
    /* 初始不顯示磅蛋糕旁邊的線 */
}

/* 花圈餅乾左側的線 */
.popular #cookie_item::before {
    content: '';
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 300px;
    background-color: #FEFBF6;

}

.popular li a {
    text-decoration: none;
}


/*----------瑪德蓮----------*/
.madeleine img {
    width: 115px;
    height: 150px;
    transition: transform 0.3s ease;
}

.madeleine:hover img {
    transform: scale(1.1);
}

/*----------可麗露----------*/
.canele img {
    width: 130px;
    height: 150px;
    transition: transform 0.3s ease;
}

.canele:hover img {
    transform: scale(1.1);
}

/*----------磅蛋糕----------*/
.poundcake img {
    width: 160px;
    height: 150px;
    transition: transform 0.3s ease;
}

.poundcake:hover img {
    transform: scale(1.1);
}

.btw_pon_cok {
    display: none;
}

/*----------手工餅乾----------*/

.popular #cookie_item {
    display: none;
}

.cookie img {
    width: 160px;
    height: 150px;
    transition: transform 0.3s ease;
}

.cookie img:hover {
    transform: scale(1.1);
}

/*----------甜點文字----------*/
.popular a span {
    display: block;
    color: #FEFBF6;
    line-height: 25px;
    font-size: 1.25rem;
}

.poptitle {
    margin-top: 40px;

}

.popname {
    font-size: 20px;
    margin-top: 12px;
}


/* --------Popular Products end-------- */

/*--------文字跑馬燈開始--------*/
.marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    /*防止換行*/
    box-sizing: border-box;
}

.marquee span {
    font-size: 2.25rem;
    line-height: 55px;
    color: #F7D7C8;

    display: inline-block;
    margin-top: 24px;
    padding-left: 100%;
    animation: marquee 25s linear infinite;

}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
/*--------文字跑馬燈結束--------*/

/*-----How to enjoy start-----*/
.enjoy h1 {
    color: #BDA074;
    font-size: 2.25rem;
    line-height: 55px;
    text-align: center;

    margin: 80px 0 60px;
}

.enjoy li .circle {
    width: 200px;
    height: 200px;

    background-color: #FEFBF6;
    /* color: #BDA074; */
    border: 1px solid #BDA074;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    /*讓icon不超過圓形*/
    position: relative;
}

.fa-truck {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    animation: drive 2.5s cubic-bezier(.11, .97, .57, -0.6) infinite;
}

@keyframes drive {
    0% {
        left: -50px;
    }

    100% {
        left: calc(100% + 4rem);
    }
}

/* -----購物車動畫----- */
.fa-arrow-pointer {
    z-index: 1;
    position: absolute;
    top: 46%;
    left: 202px;
    /*跑到Left123*/

    margin: auto;
    animation: arrow .9s linear;
}

@keyframes arrow {
    0% {
        transform: scale(1);
        /* top: 50%; */
        left: 200px;
    }

    50% {
        transform: scale(1);
        /* top:66%; */
        left: 124px;
    }

    100% {
        transform: scale(1);
        /* top: 63%; */
        left: 124px;
    }
}

.fa-cart-shopping {
    animation: cart1 .4s .8s linear;
}

@keyframes cart1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.8);
    }

    70% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}

/* ---------------餅乾------------- */
.enjoy li .fa-cookie {
    /*完整餅乾*/
    /* display: none; */
    position: absolute;
    left: 33%;
    top: 33%;
    animation: eat 1.5s linear infinite;
    animation-delay: 0s;
}

.enjoy li .fa-cookie-bite {
    /*咬一口*/
    position: absolute;
    left: 33%;
    top: 33%;
}

@keyframes eat {
    25% {
        visibility: visible;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

/* ------------大小顏色----------- */
.enjoy li .fa-cart-shopping,
.enjoy li .fa-truck,
.enjoy li .fa-cart-arrow-down {
    font-size: 4rem;
    color: #BDA074;
}

.enjoy li .fa-arrow-pointer {
    font-size: 2rem;
    color: #a0793d
}

.enjoy .fa-cookie-bite,
.enjoy li .fa-cookie {
    font-size: 4.5rem;
    /* color: #292929; */
    color: #BDA074;
}

.enjoy li h5 {
    color: #292929;
    font-size: 1.25rem;
    line-height: 36x;
    text-align: center;
    margin-top: 24px;
}


.enjoy ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* padding: 0 240px; */

}

.enjoy li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    margin-bottom: 80px;
}

/*-----How to enjoy end-----*/

/* -----Lazy News start----- */


.news_container {
    border-bottom: .5px solid #BDA074;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
    margin: 40px 80px;
}

.news_container .newsa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-bottom: 40px;
    text-decoration: none;
    color: #292929;
}

.news_container .newsa:hover {
    color: #BDA074;
}

.news_text {
    /* border: 2px solid blue; */
}

.news img{
display: block;
margin:  0 auto;
}

.news_text h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.news_text h3 {
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 60px;
}

.news_text p {
    font-size: 1.25rem;
    line-height: 1.8;
    text-overflow: ellipsis;
    width: 92%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*超過兩行即溢出*/
    overflow: hidden;
}

.news_more {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_more h1 {
    color: #CA7C61;

    font-size: 7rem;
    margin-bottom: 68px;
}

.news_more h3 {
    font-size: 1rem;
    margin-bottom: 50px;
}

.news_more a {
    color: #292929;
    text-decoration: none;
}

.news_button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.news_button input[type="button"] {
    font-family: "Lexend Deca";
    width: 153px;
    height: 46px;
    font-size: 1.25rem;
    line-height: 24px;
    border: 1.5px solid #BDA074;
    background-color: #FEFBF6;
    color: #BDA074;
    border-radius: 20px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.news_button input[type="button"]:hover {
    background-color: #CA7C61;
    color: #FFE2D4;
    border: none;
}

.news_more h3:hover {
    color: #BDA074;
}

/* -----Lazy News end----- */

::selection {
    color: #FEFBF6;
    background-color: #CA7C61;
}