@import url("reset.css");

body {
    font-family: "Lexend Deca", sans-serif, "Noto Sans TC", sans-serif;
    letter-spacing: 1px;
    color: #292929;
}

/* -----商品按鈕 start-----  */

.btn_dessert {
    display: flex;
    gap: 24px;
    justify-content: center;

    margin-top: 80px;
    margin-bottom: 60px;

    flex-wrap: wrap;
    /* border: 1px solid saddlebrown; */
}

.btn_dessert button {
    font-family: "Noto Sans TC";
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #BDA074;
    border-radius: 8px;
    border: 1px solid #BDA074;
    background: #FEFBF6;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.btn_dessert .category-button:hover {
    color: #FFE2D4;
    background: #CA7C61;

}
.category-button.active{
    border: 0;
    color: #FFE2D4;
    background: #CA7C61;
}


/* -----商品按鈕 end-----  */


/* -----商品資訊 start----- */


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    /* border: 2px solid seagreen; */
}

.image-gallery {
    /* border: 2px solid red; */
    max-width: 360px;
    max-height: 484px;
}

.main-image {
    max-width: 360px;
    overflow: hidden;
    /* 確保圖片不會超出容器 */
}

.main-image img {
    width: 100%;
    max-width: 360px;
    object-fit: cover;
}

.thumbnail-images {
    display: flex;
    margin-top: 12px;
}

.thumbnail-images img {
    display: block;
    width: 100%;
    max-width: 112px;
    max-height: 112px;
    object-fit: cover;
}

.thumbnail-images img:hover {
    cursor: pointer;
    opacity: .7;
}

.thumbnail-images img:nth-of-type(2) {
    margin: 0 12px;
}

.product-details {
    width: 600px;
    /* border: 2px solid yellow; */
}

.product-details h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

.product-details span {
    display: block;
    /* border: 2px solid purple; */
}

.product-details span:nth-of-type(1) {
    margin-top: 12px;
    margin-bottom: 36px;
}

.product-details span:nth-of-type(2) {
    color: #CA7C61;
    font-size: 1.25rem;
    margin-bottom: 60px;
}

.product-details p {
    line-height: 36px;
    border-top: 1px solid #BDA074;
    border-bottom: 1px solid #BDA074;

    padding: 11px 0;

}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    /* border: 1px solid #FFE2D4; */
    border-radius: 50px;
    background-color: #ffe2d45d;

    margin-top: 40px;
}

.counter {
    margin: 0 20px;
    font-size: 1.2rem;
}

.quantity input[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0px;

    border: 1px solid #FFE2D4;
    border-radius: 50%;
    background-color: #ffe2d4b1;
    font-size: 1.5rem;
    color: #CA7C61;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.quantity input[type="button"]:hover {
    background-color: #CA7C61;
    color: white;
}

.purchase {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}


.purchase input[type="button"] {
    border: 1.5px solid #BDA074;
    color: #BDA074;
    text-align: center;
    background: #FEFBF6;
    font-family: "Noto Sans CJK TC";
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.purchase input[type="button"]:hover {
    text-align: center;
    background-color: #CA7C61;
    color: #FFE2D4;
    border: 0;
}

/* -----商品資訊 end----- */
/* -----其他推薦商品start----- */

.shine {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-self: center;

    margin: 80px 0;
}

.shine h1 {
    color: #BDA074;
    font-size: 2.25rem;
    line-height: 55px;
}

.wrapper {
    /* border: 1px solid saddlebrown; */
    display: flex;
    width: 960px;
    overflow: hidden;

    /* margin: 0 auto; */
    scroll-behavior: smooth;
}

.carousel {
    display: flex;
    position: relative;
}

.carousel .card {
    padding: 10px;
    width: 220px;
    text-align: center;
}

.carousel .card:hover {
    background-color: #fcf0ea;
    transition: .3s;
}

.carousel .card a {
    text-decoration: none;
    color: #292929;
    display: block;
    overflow: hidden;
    /*確保放大圖片不會超出範圍 */
}

.carousel .card img {
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
    transition: .3s;
    display: block;
}

.carousel .card:nth-of-type(1):hover img {
    transform: scale(1.02);
    /* 圖片放大 */
}

.carousel .card:hover img {
    transform: scale(1.05);
    /* 圖片放大 */
}

.carousel h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 4px;
}

.carousel li span:first-of-type {
    display: block;
    font-size: 0.87rem;
    margin-bottom: 20px;
}

.carousel li span:last-of-type {
    font-size: 1rem;
    color: #CA7C61;
}


.arrow .fa-solid {
    color: #BDA074;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: white;
    border: 1.5px solid #BDA074;
    border-radius: 4px;
    text-align: center;

    cursor: pointer;

}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-bottom: 80px;

}

/* -----其他推薦商品end----- */

::selection {
    color: #FEFBF6;
    background-color: #CA7C61;
}


/*-------------- RWD 1000px ---------------------*/

@media screen and (max-width: 1000px) {

    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .product-details p {
        max-width: 80%;
        text-align: left;
    }

    .wrapper {
        width: 720px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 480px;
    }
}

@media screen and (max-width: 550px) {

    .btn_dessert {
        gap: 18px;
    }

    .btn_dessert a {
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }


    .main-image img {
        max-width: 300px;
    }

    .thumbnail-images img {
        max-width: 93px;
        max-height: 93px;
    }

    .product-details h5 {
        font-size: 1.2rem;
    }

    .shine {
        gap: 10px;
        margin: 40px 0;
    }

    .shine h1 {
        font-size: 30px;
    }

    .arrow {
        margin-bottom: 60px
    }

    .wrapper {
        width: 240px;
    }


}